@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-wrapper {
    @apply mx-auto px-2 py-2;
    width: 100%;
  }
  body {
    @apply bg-dark-250;
  }
}
@layer base {
  *::selection {
    @apply bg-dark-150 text-gray-800;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-lg;
  }
}
